<h2>Profile</h2>
<div class="row">
	<div class="col-md-4">
		<img src="{{profileData.avatar_url}}" width="300" height="300">
	</div>
	<div class="col-md-6 profile">
		<div class="row">
			<h4>Name</h4>
			<p>{{profileData.name}}</p>
		</div>
		<div class="row">
			<h4>GitHub Username</h4>
			<p>{{profileData.login}}</p>
		</div>
		<div class="row">
			<h4>Location</h4>
			<p>{{profileData.location}}</p>
		</div>
		<div class="row">
			{{#if profileData.bio}}
				<h4>Bio</h4>
				<p>{{profileData.bio}}</p>
			{{else}}
				<h4>Bio</h4>
				<p>not available</p>
			{{/if}}
		</div>
	</div>
</div>
